* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
    color: white;
}

button{
    background-color:inherit;
    font:inherit;
}

button:hover {
    color: rgb(100, 100, 100);
}

body {
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #1992d4;
    padding: 10px;
    font-weight: bold;
}

.sidebar>h1 {
    margin-bottom: 5vh;

}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
    font-size: 2em
}

#btn-addBook {
    border: none;
    text-align: inherit;
}

::backdrop {
    opacity: 0.75;
}

dialog {
    background-color: #1992d4;
    width:40vw;
    height:40vh;
    margin:auto;
}

form {
    position:relative; /*for close button*/
    display: grid;
    grid-template:repeat(5, 1fr) / 1fr 1fr;
    height:100%;
    align-items:center;
    padding:50px 10px 10px 10px;
}

#close-btn{
    position:absolute;
    width:40px;
    height:40px;
    right:10px;
    top:10px;
    border:2px solid white;
    border-radius:5px;
    font-size:2em;
}

form > input{
    color:black;
}

#confirm-btn{
    border:2px solid white;
    grid-column:1 / 3;
}

#bookshelf {
    font-weight: bold;
    display: flex;
    flex-wrap:wrap;
    align-content:flex-start;
    gap: 10px;
    padding: 20px;
}

.book {
    background-color: rgb(205, 183, 142);
    border-radius: 10px;
    height: 200px;
    width:15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    position:relative;
}

.btn-removeBook{
    position:absolute;
    top:10px;
    right:10px;
    height:20px;
    width:20px;
    border:2px solid white;
    border-radius:5px;
}